* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff8fb;
    color: #333;
}

header {
    text-align: center;
    padding: 35px 20px;
    background: white;
}

header h1 {
    margin: 0;
    color: #e85b94;
}

header p {
    color: #999;
}

main {
    width: 92%;
    max-width: 700px;
    margin: 30px auto;
}

.player {
    background: white;
    padding: 25px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.06);
}

.cover {
    width: 170px;
    height: 170px;
    margin: auto;
    border-radius: 25px;
    background: #ffb6d2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

.player h2 {
    margin: 20px 0;
}

audio {
    width: 100%;
}

.library {
    margin-top: 25px;
}

.library > h2 {
    margin-left: 5px;
}

.song {
    background: white;
    padding: 16px;
    margin: 10px 0;
    border-radius: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.04);
}

.song:hover {
    background: #fff0f6;
}

.song-icon {
    font-size: 25px;
}

.song-name {
    font-weight: bold;
}

@media (max-width: 600px) {

    .cover {
        width: 140px;
        height: 140px;
        font-size: 55px;
    }

    main {
        width: 94%;
    }
}
